.postContainer {
    /* font-family: Averia Libre; */
    /* font-size: larger; */
    background-color: #90C0BD;
    border: 2px solid #EBE3D8;
    padding: 20px;
    border-radius: 15px;
    margin: 25px 0px;
    color: #27645F;
    max-width: 85%;
    min-height: 500px;
    min-width: 200px;
}